<div class='text-center'>
  <h1>power usage</h1>
  <p>predicted <strong><%= @power[:consumption] unless @power.nil? %></strong>kW at <%= @time.strftime('%H:%M') %></p>
  <hr>
</div>

<div id='graphcontain'>
  <%= area_chart @graph, :max => @max, :min => @min %>
</div>
