<h1>Machine Interface</h1>
<label>Send a post request like so:</label>
<pre><code>curl -F file=@filename.csv <%= request.original_url %></code></pre>
<p>The CSV file passed should be in the format:</p>
<pre><code>Date, Radiation, Humidity, Temperature, WindSpeed, Power</code></pre>
<p>The first row contains the column headers, and rows after that should contain the data.</p>