<h1>Settings</h1>
<div class='text-center'>
  <%= form_tag do %>
    <div class='form-group'>
      <label>High Warning Value in Watts</label>
      <input type="number" name='high'>
    </div>
    <div class='form-group'>
      <label>Low Warning Value in Watts</label>
      <input type="number" name='low'>
    </div>
  <% end %>
</div>